<li>
    <div class="<%= user.id == message.user_id ? 'message-sent' : 'message-received' %>">
      <%= content_with_emoji(simple_format(message.body)) %>
    </div>
 	<div class="clearfix"></div>
</li>