<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <div>
        <img src=<%= @user.images.present? && @user.images.last.image.url.present? ? @user.images.order("id").last.image.url : "/assets/group_icon.png"%> class='modal_group_img' >
      </div>
    </div>
  </div>
</div>