/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


ul {
  padding-left: 0px;
  list-style: none;
}
.fl{float: left;}
.fr{float: right;}
.cb{clear:both;}
.messages-list {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}


.message-sent {
  background-color: #a3d4ec;
  margin: 5px 20px;
  padding: 10px;
  float: right;
  border: 1px solid #a3d4ec;
  border-radius: 10px 0 10px 10px;
  position: relative;
  max-width: 80%;
  word-wrap: break-word;
}


.message-received {
  background-color: #f2dede;
  margin: 5px 20px;
  padding: 10px;
  float: left;
  border: 1px solid #f2dede;
  border-radius: 0 10px 10px;
  position: relative;
  max-width: 80%;
  word-wrap: break-word;
}
.message-sent:before{
	content: "";
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-left: 10px solid #a3d4ec;
    border-bottom: 15px solid transparent;
    position: absolute;
    right: -10px;
    top: -1px;
}
.message-received:before{
    content: "";
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-right: 10px solid #f2dede;
    border-bottom: 15px solid transparent;
    position: absolute;
    left: -10px;
    top: -1px;
}

.login-form {
  width: 385px;
  margin: 30px auto;
}
.login-form form {        
  margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .login-btn {
    min-height: 38px;
    border-radius: 2px;
}
.input-group-addon .fa {
    font-size: 18px;
}
.login-btn {
    font-size: 15px;
    font-weight: bold;
}
.social-btn .btn {
  border: none;
      margin: 10px 3px 0;
      opacity: 1;
}
.social-btn .btn:hover {
    opacity: 0.9;
}
.social-btn .btn-primary {
      background: #507cc0;
  }
.social-btn .btn-info {
  background: #64ccf1;
}
.social-btn .btn-danger {
  background: #df4930;
}
.or-seperator {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #f7f7f7;
    position: relative;
    top: -11px;
    z-index: 1;
}  

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{background:none;}
.profile-img{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: none;
  margin: 0 20px;
  margin-top: 10px;
}

.user_profile {
    float: left;
    height: 30px;
    width: 30px;
    border: 1px solid #53a855;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    padding-top: 4px;
    background-color: #53a855;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
}
.user_list{display:none;max-height: 400px;overflow-y: auto;}
.user_list a{margin-top:10px;display: inline-block;}
.user_name {
    float: left;
    margin-top: 4px;
    margin-left: 5px;
}

.alert {
    position: fixed;
    top: 60px;
    right: 30px;
}
.alert button.close {
    margin-left: 10px;
    position: relative;
    top: -15px;
    right: -10px;
}
.alert button.close:hover{color:red;opacity: 1;}
.pf_img1{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.more_icon{height:20px;}
.group_container .panel-heading .dropdown-menu{min-width:60px;}
.attach_file{cursor:pointer;}
img.modal_group_img {
    width: 100%;
}
.panel-body ul li {
    margin-bottom: 10px;
}
textarea.autoExpand{  
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  margin: 50px auto 10px;
  border: 1px solid #aaa;
  resize:none;
  border-radius: 30px;
  padding: 5px 20px;
  outline:none;
  width: 100%;
  max-height: 150px;
  height: 32px;
  overflow-y: auto;
}
.send {cursor: pointer;position: absolute;right: 12px;bottom: 0;opacity: 0.5;font-size: 22px;border: 1px solid #050505;display: inline-block;padding: 5px;border-radius: 50%;height: 32px}
.send:hover { opacity: 0.9;background: #eee; }
.send_msg_btn{display: none;}
.send_message_container{position: relative;margin-top: 10px;padding-right: 60px;}
.text_area:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}